In [58]:
# Author: Ameer Hassan
# Date: 20200217
# CS301-006, Professor Watson
# HW03 Solution
# Description: This homework is supposed to provide some exposure to the Pandas library
# link to the git repo: https://github.com/AmeerYHassan/CS301
# link-to-the-relevant-git-commit: https://github.com/AmeerYHassan/CS301/blob/master/HW3/HW3.ipynb
# name-of-the-branch: master

# HW3 - Getting Familiar with Pandas and NumPy
---

#### Importing necessary libraries to do this assignment

In [39]:
import pandas as pd
import numpy as np

## Problem 1 - Data Reader

Write a function called `data_reader` which takes as input `data_path (string)`, a path to a file in your file explorer
The function `data_reader` should try to return a `DataFrame`containing the data in the file. You may assume that the input file is a .csv file. If the file was read successfully, print the shape of the DataFrame and return the DataFrame, except when there is an error, in which you should return `None` and print a message to the user saying there was an error when reading the file. You will need Exception handling.

In [40]:
def data_reader(data_path):
    try:
        df = pd.read_csv(data_path)
        print(df.shape)
        return df
    except FileNotFoundError:
        print("Error during reading, please try again.")
        return None

In [41]:
data_reader('C:\\Users\\ameer\\Desktop\\CS_301\\Labs\\Lab_2\\drinks.csv')

(193, 6)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

## Problem 2 - Get Outliers

Write a function called `get_num_outliers` ​which takes as input `df (DataFrame)`, a DataFrame object, and `col (string)`, the name of a column in the DataFrame. The function `get_num_outliers` should return the total number of outliers in that column of the DataFrame. You can assume that the value entered in the `col` parameter exists as one of the columns in the DataFrame (meaning, you do not need to do any exception handling here).

In [42]:
def get_num_outliers(df, col):
    q1 = df[col].quantile(0.25)
    q2 = df[col].quantile(0.75)
    IQR = q2 - q1
    firstZone = q1 - 1.5*(IQR)
    secondZone = q2 + 1.5*(IQR)
    temp_df = df.loc[(df[col] < firstZone) | (df[col] > secondZone)]
    
    return temp_df[col].count()

In [43]:
df = data_reader('C:\\Users\\ameer\\Desktop\\CS_301\\Labs\\Lab_2\\drinks.csv')
get_num_outliers(df, 'wine_servings')

(193, 6)

26

## Problem 3 - Deviants

Write a function called `get_num_deviants` which takes as input `df (DataFrame)` - a DataFrame object, `col (string)` - the name of a column in the DataFrame, and `multiplier (string)` - the number of standard deviations away from the mean. The function `get_num_deviants` should return the total number of values in that column of the DataFrame which exist past `multiplier` deviants away from the mean. You can assume that the value entered in the col parameter exists as one of the columns in the DataFrame.

In [56]:
def get_num_deviants(df, col, multiplier):
    stdMean = df[col].mean()
    stdDev = df[col].std()
    upperStdDev = stdMean+(stdDev*int(multiplier))
    lowerStdDev = stdMean-(stdDev*int(multiplier))
    temp_df = df.loc[(df[col] > upperStdDev) | (df[col] < lowerStdDev)]
    return temp_df[col].count()

In [57]:
df = data_reader('C:\\Users\\ameer\\Desktop\\CS_301\\Labs\\Lab_2\\drinks.csv')
get_num_deviants(df, 'wine_servings', '1')

(193, 6)

28